* {
    margin:0;
    padding:0;
}

header {

}

.endpoint, .method {
    background-color: #f1f1f1;
    padding: 2px;
    border: 1px solid #c1c1c1;
}

.endpoint {
    color:royalblue;
    font-weight: bold;
}

.method {
    color: indigo;
    font-weight: bolder;
}

body {
    background: #f1f1f1;
}

.container {
    width: 90%;
    margin: auto;
}

.block {
    background-color: #fff;
    margin-bottom: 40px;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #aaa;
}
.block h2 {
    color: #fff;
}
.block p, .block h2 {
    padding: 20px;
}

.block h2 {
    background-color: orange;
}

.container h1 {
    padding: 20px;
}

.index ul {
    list-style: none;
}

.index ul li {
    padding: 10px;
}

.index ul li a {
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: blue;
}