.container-a {
    width: 100%;
}

.container-a .header {
    background-color: slateblue;
    color: bisque;
    padding: 5px;
}

.container-a .cards {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.container-a .cards .card {
    width: 100%;
    border: 1px solid rgba(112, 128, 144, 0.1);
    box-shadow: 3px 3px 3px rgba(112, 128, 144, 0.3);
}


.container-a .cards .card .buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
}
.container-a .cards .card .picture img {
    width: 100%;
    object-fit: cover;
    height: 150px;
}