* {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 70px 0 70px 0;
    width: 100%;
}

.main-container .block {
    width: 100%;
    margin: auto;
}

.main-container .block h3 {
    color: #fff;
    font-weight: bolder;
    padding: 10px;
    background-color: #222;
}

.main-container .block ul {
    list-style: none;
}

.main-container .block ul li {
    display: block;
}

.main-container .block ul li:nth-child(odd){
    background: #f1f1f1;
}

.main-container .block ul li:nth-child(even){
    background: #c1c1c1;
}

.block a {
    text-decoration: none;
    font-weight: bolder;
    padding: 5px;
    color: #333;
    display: block;
    cursor: pointer;
}

.block a:hover {
    color: #fff;
    text-shadow: 0 0 10px #000;
}

.block table {
    width: 100%;
    border-collapse: collapse;
    border: 0;
}

.block table caption {
    color: #fff;
    font-weight: bolder;
    padding: 10px;
    background-color: #222;
}
table thead {
    background-color: #222;
}
.block table tr th {
    color: #fff;
    text-align: left;
    padding: 5px;
}
button {
    margin: 0;
    margin-left: 0.3em;
    padding: 0 !important;
    width: 16px;
    height: 16px;
    border:0;
    background-color: transparent;
    background-image: url("../img/sprites.png") !important;
    background-repeat: no-repeat !important;
    background-position: top left !important;
    cursor: pointer;
}
button.edit {
    background-position: 0 -224px !important;
}
button.delete {
    background-position: 0 -208px !important;
}
button.save {
    background-position: 0 -32px !important;
}

button:hover::after {
    position: absolute;
    color: #333;
    display: inline;
    margin-top: -20px;
    background-color: #fff6ed;
    border: 1px solid #333;
}

button.edit:hover::after {
    content: "Editar";
}
button.delete:hover::after {
    content: "Eliminar";
}
button.save:hover::after {
    content: "Guardar";
}

img {
    width: 100px;
    height: 100x;
    object-fit: cover;
}

input[type=file]{
    width: 100px;
}
input[type=number]{
    width: 40px;
}

.check-list {
    max-height: 70px;
    overflow-y: scroll;
}